<head>
    <title><%# title %></title>
    <!--<link rel='stylesheet' href='../styles/css/app.css' />-->
    <style>
        body {
            font-family: Arial;
        }
        .btn {
            position: fixed;
            top: 20px;
            left: 90%;
            background: lightseagreen;
            color: #fff;
            font-size: 1em;
            padding: .5em 1em;
            border-radius: 1em;
            border: none;
        }
        .row input {
            width: 30%;
        }
    </style>
</head>