@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,600');
@import url('https://fonts.googleapis.com/css?family=Lobster&amp;subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

@fa_path: "../../node_modules/font-awesome/less";
@fa_font_path: "../../node_modules/font-awesome/fonts";

@import "@{fa_path}/variables.less";

@font-face {
  font-family: 'FontAwesome';
  src: url('@{fa-font-path}/fontawesome-webfont.eot?v=@{fa-version}');
  src: url('@{fa-font-path}/fontawesome-webfont.eot?#iefix&v=@{fa-version}') format('embedded-opentype'),
  url('@{fa-font-path}/fontawesome-webfont.woff2?v=@{fa-version}') format('woff2'),
  url('@{fa-font-path}/fontawesome-webfont.woff?v=@{fa-version}') format('woff'),
  url('@{fa-font-path}/fontawesome-webfont.ttf?v=@{fa-version}') format('truetype'),
  url('@{fa-font-path}/fontawesome-webfont.svg?v=@{fa-version}#fontawesomeregular') format('svg');
  // src: url('@{fa-font-path}/FontAwesome.otf') format('opentype'); // used when developing fonts
  font-weight: normal;
  font-style: normal;
}

@import "@{fa_path}/mixins.less";
@import "@{fa_path}/path.less";
@import "@{fa_path}/core.less";
@import "@{fa_path}/icons.less";

@import "_variables";
@import "_footer";
@import "_parallax";

/**  Basic Page CSS **/

body {
  font-family: @fnt-1;
  font-size: @fnt-2;
  margin: 0;
  padding: 0;
  height: 100%;  /* scroll to top firefox issue */
  overflow: auto; /* scroll to top firefox issue */
}

h1, h2, h3, h4, h5, h6 {
  font-family: @fnt-2;
  font-weight: 300;
  margin: 0;
}

h2 {
  text-align: center;
  font-size: 42px;
  line-height: 42px;
  font-weight: 300;

  transition: all 0.5s ease;

  b {
    text-transform: uppercase;
  }

  @media (max-width: 767px) { font-size: 42px; line-height: 56px; }
  b {
    display: block;
    font-size: 80px;
    line-height: 82px;
    font-weight: 400;
    @media (max-width: 767px) { font-size: 56px; line-height: 56px; }
  }
}

.page {
  height: 100vh;
  padding: 2em 1em;
  background-color: @main-color2;

  &.rules,
  &.prices,
  &.assortment {
    background-color: @main-color2;

    h2 {
      color: @main-color1;
    }
  }
  &.about {
    h2 {
      color: @main-color2;
      margin: 0 auto;
      display: block;
    }
  }

  &.rules,
  &.prices,
  &.assortment,
  &.about,
  &.specials {
    h2 {
      text-transform: uppercase;
    }
  }

  &.specials {
    background-color: @main-color1;

    h2 {
      color: @main-color2;
    }

    .img-circle {
      width: 100%;
    }
  }

  &.prices,
  &.rules,
  &.assortment {
    min-height: 100vh;
    height: auto;
  }

}

/** Specials **/

.specials {
  .img-circle {
    width: 100%;
    cursor: pointer;
  }
}

/**  Navbar **/
.navbar-default {
  background-color: @main-color2;
  border-color: #e7e7e7;
  font-family: 'Lobster', cursive;
}

.kavusya-logo {
  width: 350px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 100;
  top: 20vh;
  transition: all 2s;

  @media (max-width: 767px) {
    //width: 50%;

  }
}

.main-ad-block {
  max-width: 1170px;
  width: 100%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 100;
  top: 20vh;
  transition: all 2s;

  p, h2 {
    line-height: 32px;
    color: #fff;
  }

  .motos-block {
    padding: 65px 83px 65px;
    background: @main-color3;
    text-align: center;

    p.headed {
      text-transform: uppercase;
      font-size: 1.7em;
      line-height: 32px;
    }
  }

  @media (max-width: 767px) {
    padding: 3em;

    .btn-open-form {
      font-size: .8em;
    }

    .motos-block {
      padding: .5em .1em;
    }
  }
}

.btn-open-form {
  background: #fff;
  border-radius: 0;
  font-size: 1.6em;
  text-transform: uppercase;
  padding: .7em 1em;
  margin: .2em auto;
  color: @main-color3;
  font-weight: bold;
}



.logo {
  height: 100vh;
  background: url("../../images/kavusya-logo.svg") center center no-repeat;
  border: 1px solid red;
}

/**  Carousel Fade **/

.carousel {
  height: 100vh;
  background-color: #1B7998;

  &.fade {
    opacity: 1;

    .item {
      transition: opacity ease-out .7s;
      left: 0;
      opacity: 0;
      top: 0;
      position: absolute;
      display: block;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      background-attachment: fixed;
      width: 100%;
      height: 100vh;

      &:first-child {
        top: auto;
        opacity: 0;
        position: relative;
      }

      &.active {
        opacity: 1;
      }
    }
  }
}

.carousel-control {
  opacity: 0;

  &.left,
  &.right
  {
    background-image: none;
  }
}

.about {

    .info-btn {
      width: 50%;
      padding: 2em;
      float: left;

      .content {
        display: none;
      }

      .title {
        font-size: 1.4em;
        line-height: 30px;
        font-weight: 700;
        color: #252525;
        height: 5em;
        background-color: rgba(255, 255, 255, .9);
        cursor: pointer;
        text-transform: uppercase;
        text-align: center;

        .child {
          text-align: center;
        }

        &:hover {
          background: @main-color3;
          color: #fff;
        }
      }
    }

  h2 {
    padding: 31px 0 29px;
    display: inline-block;
    width: 570px;
    background: #40b4c9;
    font-size: 30px;
    line-height: 40px;
    text-transform: uppercase;
    color: #fff;
  }

  h3 {
    padding: 1em;
    color: @main-color1;
  }

  .panel-heading {
    background-color: rgba(255, 255, 255, .8);
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    border-radius: 0;

    &:hover {
      background: @main-color3;
      color: #fff;
    }
  }

  @media (max-width: 767px) {
    .info-btn {
      width: 100%;
      padding: .2em;
      float: none;

      .title {
        height: 3em;
      }
    }

    h2 {
      width: 100%;
    }
  }
}

.rules {
  h2 {
    margin-top: 1.9em;
  }

  @media (max-width: 767px) {
    margin-top: 2.7em;

    h2 {
      margin-top: .9em;
    }
  }
}

.explanations {

  .explanation-item {
    border: 10px solid @main-color1;
    background: @main-color1;
    color: @main-color2;
    font-family: @fnt-2;
    padding: 50px;
    font-size: 1em;
    line-height: 1.3em;
    text-align: center;
    width: 47%;
    height: 22em;
    margin: 10px;
    float: left;

    .signature {
      font-size: .9em;
    }

    .img {
      vertical-align: middle;
      border-radius: 10em;
      width: 6em;
      margin: 1em;
    }

    .bigger {
      font-size: 1.5em;
    }

  }

  @media (max-width: 767px) {
    .explanation-item  {
      width: 100%;
      height: auto;
      float: none;
      margin: 10px 0;
    }
  }
}

/* Specials */

.specials {

  .steps {
    color: @main-color2;
    width: 29%;
    float: left;
    text-align: center;
    margin: 3em 1em;
  }

  .step {
    font-size: 1.7em;
    font-weight: bold;
    display: block;
  }

  .step-info {
    color: @main-color2;
    font-size: 1.5em;
    display: inline-block;
  }

  i.fa {
    background: @main-color2;
    border-radius: 10em;
    font-size: 6em;
    padding: .5em;
    color: @main-color4;
    border: .2em solid @main-color4;
  }

  @media (max-width: 767px) {
    .steps {
      color: @main-color2;
      width: 100%;
      float: none;
      text-align: left;
      margin: 2em 1em;
    }

    i.fa {
      background: @main-color2;
      border-radius: 10em;
      font-size: 3em;
      padding: .2em;
      color: @main-color4;
      border: .2em solid @main-color4;
      float: left;
      margin-right: .5em;
    }
  }
}

/* Assortment */

.assortment {
  .note {
    color: #989898;
    font-style: italic;
    display: none;
  }
}

/* Contacts */

.contacts {
  h2 {
    padding-bottom: 1em;
  }

  .img-container {
    display: table-cell;
    float: left;
    margin-right: 2em;

    .img-contacts {
      border-radius: 10em;
    }
  }

  .contact-info {
    font-weight: bold;
    display: table-cell;

    .name {
      font-size: 2em;
    }
  }
}

@media (max-width: 767px) {
  .contacts {

    text-align: center;

    .img-container {
      float: none;
      margin: 0;
      display: block;
    }

    .contact-info {
      display: block;
      margin: 1em 0 0 0;
    }
  }
}

.loader {
  background-color: rgba(255, 255, 255,.9);
  position: fixed;
  display: flex;
  width: 100%;
  height: 100vh;
  z-index: 100;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.loader-text {
  font-size: 1em;
  color: white;
  text-shadow: 1px 1px 4px black;
}

.progress {
  width: 40%;
  max-width: 200px;
}

/** Modal **/
.modal-content {
  h2 {
    color: @main-color1;
  }
}

/*================== Decoration ======================*/
.decoration {
  position: relative;
  text-align: center;

  &:before {
    content: '';
    position: absolute;
    height: 1px;
    top: 10px;
    left: 0;
    right: 50%;
    margin-right: 67px;
    margin-left: 3px;
    background: #6c6860;
  }
  &:after {
    content: '';
    position: absolute;
    height: 1px;
    top: 10px;
    right: 0;
    left: 50%;
    margin-left: 67px;
    margin-right: 3px;
    background: #6c6860;
  }
}

.img-rounded {
  border-radius: 50em;
}

.custom-media-head {
  float: left;
  margin-right: 2em;

  img {
    cursor: pointer;
  }
}

.custom-media-body {
  text-align: left;
}

@media (max-width: 767px) {
  .custom-media-head {
    float: none;

    img {
      margin: 0 auto;
    }
  }

  .custom-media-body {
    text-align: center;
  }
}

/**  Covering bootstrap  **/

body .container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;

  .navbar-header,
  .navbar-collapse {
    margin: 0;
    color: @main-color1;
    font-family: @fnt-2;
  }
}

/* Vertical centering */


.center {
  &.parent {
    position: relative;

    .child {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

/*  Modal  */

.modal-content {

  h2 {
    color: #fff;
    text-transform: uppercase;
  }

  h3 {
    text-align: center;
    margin-bottom: .4em;
    color: @main-color3;
  }

  .question {
    font-weight: bold;
    font-size: 1.2em;
    line-height: 1.2em;
  }

  .modal-header {
    background-color: @main-color3;
  }

  .modal-title {
    line-height: 1em;
    font-size: 1.7em;
  }

  .mail-form {
    input {
      width: 100%;
      border: 1px solid @main-color3;
    }

    .buttons {
      background: #fff;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      flex-direction: row;
      -webkit-justify-content: center;
      justify-content: center;
    }

    .btn {
      width: 35%;
      float: left;
      border: 0;
      background-color: @main-color3;
      border-radius: 0;
      color: #fff;
      margin: 1em;
    }
  }

  .modal-body {
    position: relative;
    padding: 5em;
    background: #fff;
  }

  .btn-open-form {
    display: block;
  }

  @media (max-width: 767px) {
    .btn-open-form {
      font-size: 1.1em;
    }
  }

  .modal-tooltip {
    color: @main-color3;
  }

  .fa-cog.fa-spin,
  .resp {
    display: block;
    margin: 3em auto;
    color: @main-color3;
    text-align: center;
  }

  .cover {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: @main-color2;
  }
}

@media (max-width: 767px) {
  .modal-content {
    .modal-body {
      padding: 1em;
    }
  }
}

/* Decoration */

.decoration {
  a {
    line-height: .4em;
    margin: 0 0 1em 0;
    color: @main-color1;
  }
}

/*  Table */

.table  {
  background: #efefef;
  text-align: center;

  .th {
    background: #dedede;
  }

  .th,
  .row {
    text-align: left;
    width: 100%;
    font-weight: bold;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row;
    flex-flow: row;


    justify-content: space-between;

    padding: .5em;

    .td {

    }
  }
}

/* To top button */

.to-top {
  background: @main-color3;
  position: relative;
  right: 0;
  padding: .5em 1em;
  text-transform: uppercase;
  font-weight: bold;
  color: @main-color2;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  width: 8em;
  text-align: center;
}



